* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}

/* nav bar */
.top-nav {
  background: rgba(1, 1, 17, 0.89);
  color: white;
  position: fixed;
  width: 100vw;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu ul li {
  margin-left: 1rem;
}

.menu ul li:hover {
  cursor: pointer;
  color: red;
}

.hero {
  background: url(https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bGFuZHNjYXBlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60)
    no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -99;
  position: relative;
}

.round {
  width: 100px;
  height: 100px;
  background: linear-gradient(red, yellow);
  border-radius: 50%;
  position: relative;
  left: 51px;
  top: 94px;
  z-index: -1;
}
.hero-content {
  background: rgba(0, 0, 0, 0.395);
  width: 450px;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;

  backdrop-filter: blur (5px);
}

/* images*/
.img1 {
  background: url(https://images.unsplash.com/flagged/photo-1564419188205-4a8e1bc1adc3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MXx8bGFuZHNjYXBlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60)
    no-repeat center center;
  background-size: cover;
  min-height: 80vh;
}

.img2 {
  background: url(https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGFuZHNjYXBlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60)
    no-repeat center center;
  background-size: cover;
  min-height: 80vh;
}

.img3 {
  background: url(https://images.unsplash.com/photo-1413752362258-7af2a667b590?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGxhbmRzY2FwZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60)
    no-repeat center center;
  background-size: cover;
  min-height: 80vh;
}

.img4 {
  background: url(https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)
    no-repeat center center;
  background-size: cover;
  min-height: 80vh;
}

.img5 {
  background: url(https://images.unsplash.com/photo-1536152470836-b943b246224c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGxhbmRzY2FwZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60)
    no-repeat center center;
  background-size: cover;
  min-height: 80vh;
}
.img1,
.img2,
.img3,
.img4,
.img5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  background: black;
  color: white;
  padding: 2rem 6rem;
  border-radius: 5px;
}

.down-arrow {
  font-size: 3rem;

  position: absolute;

  bottom: 50px;
  color: yellow;
  transform: rotate(90deg);
  font-weight: bolder;

  animation: go-down 1s infinite;
}

@keyframes go-down {
  0% {
    bottom: 100px;
    color: yellow;
  }

  50% {
    color: red;
  }

  100% {
    bottom: 10px;
    color: purple;
  }
}

/* footer */
.footer {
  background: #000;
  color: wheat;
  padding: 30px;
  text-align: center;
  margin-top: 32px;
}
